.example-spacer {
  flex: 1 1 auto;
}

:host ::ng-deep .mat-badge-content {
  margin-top: 20px !important;
}
/*
.toolbar{
  background: url('./../../../../assets/images/pngtree-abstract-white-background-with-rounded-squares-picture-image_1166834.jpg')
} */
