.footer{
  /* background: url("./../../../../assets/images/pngtree-beautiful-white-wall-made-of-cubes-picture-image_2710220.jpg"); */
  opacity: 1;
  background-color: rgb(214, 228, 246);
  /* rgba(82, 78, 78, 0.479); */
  position: relative;
  display: block;

}
.footer::before{
  content: "";
  /* background: url("./../../../../assets/images/pngtree-beautiful-white-wall-made-of-cubes-picture-image_2710220.jpg"), */
   /* rgba(105, 94, 94, 0.472) !important; */
  opacity: 0.1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /* rgba(82, 78, 78, 0.479); */
}
