<div class="w-full bg-white p-1 md:px-36">
  <!-- symbols -->
  <div class="w-full h-fit flex flex-wrap">
    <div class="w-24 aspect-square p-4 flex flex-col items center">
      <i class="bi bi-calendar2-day-fill text-[36px]"></i>
      <p>ضمانت 7 روزه بازگشت پول</p>
    </div>
    <div class="w-24 aspect-square p-4 flex flex-col items center">
      <i class="bi bi-speedometer2"></i>
      <p>ضمانت 7 روزه بازگشت پول</p>
    </div>
    <div class="w-24 aspect-square p-4 flex flex-col items center">
      <i class="bi bi-calendar2-day-fill"></i>
      <p>ضمانت 7 روزه بازگشت پول</p>
    </div>
    <div class="w-24 aspect-square p-4 flex flex-col items center">
      <i class="bi bi-calendar2-day-fill"></i>
      <p>ضمانت 7 روزه بازگشت پول</p>
    </div>
  </div>
</div>
