<div class="w-full h-fit py-3 px-2 sm:px-7 md:px-14 lg:px-16">
  <app-first-slider></app-first-slider>
  <app-category-slider class="p-10"></app-category-slider>
  <app-vertical-cart-slider class="m-10"></app-vertical-cart-slider>
  <app-vertical-cart-slider class="m-10"></app-vertical-cart-slider>
  <app-vertical-cart-slider class="m-10"></app-vertical-cart-slider>
  <app-horizontal-cart-slider></app-horizontal-cart-slider>
</div>
هرکه را شد همت عالی پدید

هرچه جست آن چیز، حالی شد پدید

هرکه را یک ذره همت داد دست

کرد او خورشید را زان ذره پست

نقطه ملک جهان ها همت است
