<div class="!w-full h-full !z[-1]" dir="rtl">
  <div class="!w-full h-full p-3 bg-white group flex sm:flex-col gap-2">
    <!-- picture -->
    <div class="sm:w-full h-fit relative">
      <!-- menu-icon -->
      <mat-icon [matMenuTriggerFor]="menu" class="absolute top-0 left-0 w-fit h-fit cursor-pointer bg-white lg:opacity-0 group-hover:opacity-100 transition">more_horize</mat-icon>
      <mat-menu xPosition="before" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>bookmark_border</mat-icon>
          <span class="font-bold">افزودن به لیست</span>
        </button>
      </mat-menu>
      <img (click)="scrollTOTop()" [routerLink]="['/detail', item.pId]" [src]="item.img" alt="" class="w-full cursor-pointer object-cover aspect-square max-w-[162px] sm:max-w-[none]">
    </div>
    <div class="w-full h-fit flex flex-col justify-between items-between">
      <!-- product-content -->
      <div class="w-full mt-2 h-fit flex flex-col items-start gap-2">
        <p [routerLink]="['/detail', item.pId]" class="w-full px-[1px] overflow-hidden text-sm font-semibold !m-0 ellipsis-my-text-in-two-line hover:text-red-500 transition-all cursor-pointer">

          {{item.name}}
          <!-- ست تیشرت شلوار مردانه Nike مدل Hamid -->

        </p>
        <div class="w-full h-fit font-medium text-xs text-slate-500  ellipsis-my-text-in-one-line">
          <i class="text-sm bi bi-shop text-slate-700"></i>
          <span> قم </span> |
          <span class="cursor-pointer">فروشگاه امینی</span>
        </div>
        <div *ngIf="item.stars" class="w-full h-fit font-semibold text-xs text-slate-500">
          <i class="text-sm bi bi-star-fill text-amber-500 text-slate-700"></i>
          <span class="text-black text-[13px]"> {{item.stars}} |</span>
          <span> ({{item.commentCount}} نظر)</span>
        </div>
      </div>
      <!-- product-footer -->
      <div class="w-full sm:h-[76px] mt-4 flex flex-row-reverse sm:flex-row justify-between items-center">
        <button (click)="addToBasket()" *ngIf="basketAmount==0||(basketAmount>0&&!showBasketAmount)" [ngClass]="{'shadow-lg': basketAmount===0, 'cursor-auto':basketAmount>0}"
          [ngStyle]="{'backgroundColor': basketAmount>0? 'rgb(30,255,30)':'rgb(150,150,255)'}" matRipple class="w-9 !aspect-square rounded-md flex items-center justify-center bg-cyan-400 hover:bg-cyan-500 ">
          <mat-icon *ngIf="basketAmount==0" matTooltip="افزودن به سبد خرید" class="mat-18 !z-0">add_icon</mat-icon>
          <mat-icon *ngIf="basketAmount>0" matTooltip="به سبد خرید افزوده شد" class="mat-18 !z-0">check</mat-icon>
        </button>
        <div class="w-fit h-full flex flex-col justify-center items-end gap-3">
          <!-- off and Undiscounted price -->
          <div class="flex items-center gap-1">

            <div class="font-medium text-xs text-slate-400 line-through !m-0">{{item.other_price | number:'1.0'}}</div>
            <div *ngIf="item.off" class="w-fit h-fit py-[1px] px-1 bg-red-200 rounded">
              <div class="font-medium text-sm text-red-700 !m-0">{{item.off}}%</div>
            </div>
          </div>
          <div *ngIf="item.other_price" class="font-bold text-[16px] text-black !m-0">
            <span> {{item.price | number:'1.0'}}
            </span>
            <span class="text-xs">
              تومان
            </span>
          </div>
        </div>

      </div>
      <hr *ngIf="basketAmount>0&&showBasketAmount" class="w-full h-[1px] bg-slate-100">
      <!-- basket amount -->
      <div *ngIf="basketAmount>0&&showBasketAmount" class="w-full h-fit mt-2 flex justify-end items-center">
        <div class="w-36 sm:w-full  h-fit rounded-lg p-2 sm:!m-auto font-bold flex justify-between items-center text-[23px] shadow-md">
          <button (click)="increase()" matRipple class="rounded text-red-400  flex justify-center items-center ">
            <i class="bi bi-plus-square !m-auto flex justify-center items-center"></i>
          </button>
          <label class="font-medium text-md" for="">{{basketAmount}}</label>
          <button (click)="decrease()" matRipple class="rounded text-red-400  flex justify-center items-center ">
            <i *ngIf="basketAmount>1" class="bi bi-dash-square !m-auto flex justify-center items-center"></i>
            <i *ngIf="basketAmount==1" class="bi bi-trash-fill !m-auto flex justify-center items-center"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
