<ng-container *ngIf="suggestionBoxImg">
  <div class="w-full transition-all h-fit bg-white pb-3 ">

    <img (click)="selectImg.next()" [routerLink]="['/detail',suggestionBoxImg.pId]" class="w-[calc(100%-40px)] m-auto h-full !my-3 rounded-md"
      [src]="suggestionBoxImg.img" alt="">
    <hr class="w-full h-[2px] my-4 bg-slate-200">
    <div>
      <div class="text-slate-500 font-bold flex items-center pb-3">
        <mat-icon class="text-medium text-red-400">whatshot</mat-icon>
        <span class="text-sm"> جستجو های پرطرفدار</span>
      </div>
      <swiper class="w-full h-fit" slidesPerView="auto" [navigation]="true" [spaceBetween]="10">
        <ng-template swiperSlide class="w-fit h-fit cursor-pointer" *ngFor="let item of items">
          <div (click)="onSelectItem(item.name)" class="w-fit h-fit text-sm px-2 py-3 bg-slate-200 rounded-full">
            <i class="fa fa-search px-1"></i>
            <span class="px-1 font-bold">{{item.name}}</span>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</ng-container>
