<div class="w-full h-fit flex flex-col justify-center items-center">
  <div class="w-full h-20 bg-white flex justify-between items-center px-3">
    <swiper class="w-full flex !items-center" [slidesPerView]="'auto'">
      <ng-template class="w-fit p-1 z-[-1]" swiperSlide>
        <div class="flex justify-between items-center px-2 px-2 py-[6px] gap-2 font-bold">
          <i class="bi bi-sliders"></i>
          <div class="text-lg" >فیلترها:</div>
        </div>
      </ng-template>
      <ng-template class="w-fit p-2 transition-all" swiperSlide *ngFor="let item of filter_items; let i=index">
        <div class="hover:bg-slate-200 shadow-md flex justify-between items-center cursor-pointer rounded-full border border-slate-200 px-2 py-[6px] gap-2 font-bold" [ngClass]="{SelectedItem: item.choosen}"
          (click)="onFilterItemClicked(item,false)">
          <div class="text">{{item.choosen ? item.choosen : item.text}}</div>
          <i class="font-sm fa fa-chevron-down " *ngIf="!item.choosen"></i>
          <i class="font-sm fa fa-times-circle " (click)="onFilterItemClicked(item,true);$event.stopPropagation()" *ngIf="item.choosen"></i>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
