<div #top class="w-full h-fit bg-slate-100 sm:flex sm:h-fit flex-wrap justify-center items-start gap-3 sm:px-6 sm:py-5 md:px-10 md:py-5 lg:px-16">
  <ng-container *ngIf="item">
    <div class="w-full flex flex-col sm:flex-row justify-center items-start gap-3">
      <!-- img-viewer -->
      <div class="w-full sm:max-w-[250px] h-fit p-3 bg-white md:max-w-[400px] justify-end relative">
        <app-loading overlay [isOpen]="isLoading" class="w-full h-fit m-auto top-36 left-0 !z-10 " *ngIf="isLoading"></app-loading>
        <div class="w-full aspect-square overflow-hidden rounded-md flex items-center !m-auto">
          <img *ngIf="!isLoading" class="w-full h-full object-cover hover:scale-110 transition duration-300 " [src]="mainImage">
        </div>
        <swiper *ngIf="!isLoading" class="w-full py-2 my-2 bg-white" [slidesPerView]="'auto'" [navigation]="true">
          <ng-template class="w-fit p-3" swiperSlide *ngFor="let img of item.images">
            <div class="w-20 aspect-square rounded-md shadow overflow-hidden cursor-pointer shadow-md">
              <img class="w-full h-full" [src]="img" (click)="mainImage=img">
            </div>
          </ng-template>
        </swiper>
      </div>
      <!-- specify -->
      <div class="w-full  sm:w-1/2 p-2 sm:min-w-[350px] sm:grow sm:m-0 my-2 font-bold bg-white h-fit ">
        <div class="p-2 sm:grow sm:m-0 my-2 font-bold rounded max-h-[516px] bg-white">
          <p class="text-slate-500 bg-slate-100 text-justify rounded-md p-3 !mb-[4px]">
            <i class="bi bi-box-fill"></i>
            ارسال رایگان به سراسر ایران با حداقل 500,000 تومان خرید
          </p>
          <hr class="w-full h-[2px] bg-slate-100">
          <div class="flex justify-between">
            <div class="p-1 ">
              <p class="text-lg pt-2 pb-7 !m-0 ">
                {{item.name}}
              </p>
              <p class="text-medium text-slate-500 pt-4 !m-0">
                <i class=" bi bi-star-fill text-amber-500"></i>
                <span class="text-black">{{item.stars}} |</span>
                <span> ({{item.commentCount}} نظر)</span>
              </p>
              <div class="flex items-center gap-3 pt-4 ">

                <div class="font-medium text-base text-slate-400 line-through !m-0">{{item.other_price | number:'1.0'}}</div>
                <div class="w-fit h-fit py-[1px] px-1 bg-red-200 rounded">
                  <div class="font-medium text-base text-red-700 !m-0">{{item.off}}%</div>
                </div>
              </div>
              <p class="text-[20px] text-black !m-0 pt-4">
                <span> {{item.price | number:'1.0'}}
                </span>
                <span class="text-xs">
                  تومان
                </span>
              </p>
            </div>
            <button mat-icon-button class="">
              <mat-icon>bookmark_border</mat-icon>
            </button>

            <!-- <div class="w-48 font-bold border rounded-md flex justify-between items-center text-xl mt-2 text-red-600">
          <button mat-icon-button class="">
              <i class="bi bi-plus"></i>

          </button>
          <div class="text-slate-600">{{'13'}}</div>
          <button mat-icon-button class="">
            <i class="fa fa-trash"></i>
          </button>
          <!-- <div class="minus">-</div> -->
            <!-- </div> -->

          </div>

          <div class="p-2 sm:m-0 my-2 font-bold bg-white h-fit">

            <button (click)="addToBasket()" [ngClass]="{'shadow-lg': basketAmount===0, 'cursor-auto':basketAmount>0}" [ngStyle]="{'backgroundColor': basketAmount>0? 'rgb(30,180,30)':'#ff4081'}"
              mat-raised-button class="mt-10 w-full py-2 font-semibold !text-[14px]" color="accent">
              <i *ngIf="basketAmount==0" class="bi bi-bag-plus-fill text-[18px]"></i>
              <mat-icon *ngIf="basketAmount>0" matTooltip="به سبد خرید افزوده شد" class="mat-18 !z-0">check</mat-icon>
              {{basketAmount==0 ? 'افزودن به سبد خرید' : 'به سبد خرید افزوده شد'}}
            </button>

            <hr class="w-full h-[2px] bg-slate-100 mt-2">
            <p class="text-slate-500 py-2 text-justify font-semibold">
              <i class="bi bi-exclamation-circle-fill"></i>
              درخواست مرجوع کردن کالا با دلیل "انصراف از خرید" تنها در صورتی قابل تایید است که کالا در شرایط اولیه باشد (در صورت پلمپ بودن،
              کالا نباید باز شده باشد).
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-specify class="w-full h-fit" [items]="item.specifies"></app-specify>
    <div class="w-full sm:my-8 my-2 font-bold h-fit ">
      <app-comments [items]="item.comments"></app-comments>
    </div>
    <app-vertical-cart-slider [seeAllVisible]="false" title="محصولات دیگر" [items]="item.suggesteds" class="w-full m-10"></app-vertical-cart-slider>
  </ng-container>
</div>
