<div class="w-full h-80 flex justify-between items-center gap-3">
  <div class="hidden sm:block w-36 h-full cursor-pointer rounded-lg overflow-hidden shadow-md">
    <ng-container *ngIf="side_ads">
      <img class="object-cover w-full h-full rounded-lg" [routerLink]="['./detail',side_ads[0].pId]" [src]="side_ads[0].img" alt="">
    </ng-container>
  </div>
  <swiper [config]="config" class="rounded-lg overflow-hidden w-full h-full shadow-md">
    <ng-template swiperSlide class="w-full h-full cursor-pointer " *ngFor="let item of items | async">
      <div class="w-full h-full " [routerLink]="['./detail',item.pId]">
        <img class="object-cover w-full h-full" [src]="item.img" alt="">
      </div>
    </ng-template>
  </swiper>
  <div class="hidden sm:block w-36 h-full cursor-pointer rounded-lg overflow-hidden shadow-md">
    <ng-container *ngIf="side_ads">
      <img class="object-cover w-full h-full rounded-lg" [routerLink]="['./detail',side_ads[1].pId]" [src]="side_ads[1].img" alt="">
    </ng-container>
  </div>
</div>
