<mat-drawer-container dir="rtl" class="w-full h-[calc(100vh-64px)] !bg-slate-100 overflow-hidden" [hasBackdrop]="true">
  <mat-drawer class="h-[calc(100vh-64px)]  !bg-slate-200" #sidenav>
    <div style="transition-duration: 750ms !important;" *ngFor="let item of drawerItems" class="w-full my-2 flex flex-col gap-2">
      <div (click)="sidenav.toggle()" [routerLink]="[item.route]" class="w-56 h-fit bg-white p-4 flex justify-between cursor-pointer text-slate-500 hover:text-black items-center gap-3 transition transition-all duration-300 hover:shadow-lg font-bold">
        <div class="h-full px-2 flex gap-2">
          <i [class]="item.icon"></i>
          {{item.name}}
        </div>
        <i class="bi bi-caret-left-fill "></i>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="w-full h-full">
    <router-outlet class="h-fit"></router-outlet>
    <app-footer class="h-fit z-[-1]"></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
